*{
    margin: 0px;
    scroll-behavior: smooth;
    
}

.container{
    background-color: white;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.row{
    background-color: rgb(14, 14, 87);
    color: white;
    display: flex;  
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

.hm{
    display: flex;  
    justify-content: space-around;
    padding: 20px;
    height: 100%;
    align-items: center;
    background-color: rgb(195, 203, 238);
}

.hm img{
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.abt{
    background: linear-gradient(to bottom, rgb(135, 135, 175), rgb(163, 163, 209));
    /*background-color: rgb(163, 163, 209);*/
    display: flex;  
    justify-content: space-around;
    padding: 20px;
    height: 100%;
    align-items: center;
}

.proj{
    /*background-color: rgb(235, 215, 101);
    background-color: rgb(233, 217, 130); */
    background: linear-gradient(to bottom, rgb(163, 163, 209), rgb(182, 182, 219));
    justify-content: space-around;
    padding: 20px;
    height: 100%;
    align-items: center;
    text-align: center;
}

.f{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.serv{
    /*background-color: rgb(193, 126, 224);
    background-color: rgb(210, 160, 233);*/
    background: linear-gradient(to bottom, rgb(182, 182, 219), rgba(130, 197, 202, 0.726));
    justify-content: space-around;
    padding: 20px;
    height: 100%;
    align-items: center;
}

.rowserv{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.con{
    background-color: rgba(130, 197, 202, 0.726);
    display: flex;  
    justify-content: space-around;
    padding: 20px;
    height: 500px;
    align-items: center;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;  
    top: 0px;
    padding: 10px;
}

.box1{
    padding: 20px;
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
}

.box2{
    padding-right: 10px;
    background-color: white;
    color: black;
    margin: 6px;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    display: flex;
}

li{
    display: inline;
    font-size: larger;
    padding: 5px;
}

a{
    text-decoration: none;
    color: white;
    font-size: medium;
}

/* .bck{
    background-image: url('asset/images/bgimg.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
} */

a:hover{
    text-decoration: underline;
}

img{
    border-radius: 15px;
    padding: 10px;
    align-items: center;
}

.box{
    padding: 10px;
}